.change-mode {
  height: 2rem;
}

#change-mode-icons {
  border: 1px solid #ced4da;
  padding: 2px 10px;
  border-radius: 5px;
}

#change-mode-icons i {
  display: inline-block;
  width: 15px;
  cursor: pointer;
  color:rgb(38, 133, 146);
}

#change-mode-icons i:hover {
  font-size: 18px;
}

.alert {
  border: 1px solid #e63946;
  padding: 0.375rem 0.75rem;
}

.alert::-webkit-input-placeholder {
  color: #e63946; 
}

#search-input {
  width: 200px;
}